# Игнорировать файлы Python bytecode
__pycache__/

# Игнорировать файлы созданные Poetry
poetry.lock
pyproject.toml

# Игнорировать файлы локальной среды
.env

# Игнорировать файлы IDE
.vscode/
.idea/

# Игнорировать файлы сборки
dist/
build/
*.egg-info/

# Игнорировать файлы окружения
.env

# Игнорировать файлы локальной конфигурации
*.log
*.conf

# Игнорировать файлы README
README.md