<div class="work-area">
        <p class="theme-title">Участники проекта</p>
        <div class="authors-container">
            <div class="author-card">
                <img src="https://avatars.githubusercontent.com/u/126326655?v=4" alt="logo Auther">
                <p class="theme-text">Вениамин Бурлаков</p>
            </div>
            <div class="author-card">
                <img src="https://avatars.githubusercontent.com/u/160715541?v=4" alt="logo Auther">
                <p class="theme-text">Кривёнышев Олег</p>
            </div>
            <div class="author-card">
                <img src="https://avatars.githubusercontent.com/u/115371958?v=4" alt="logo Auther">
                <p class="theme-text">Горячкин Кирилл</p>
            </div>
        </div>
        <p class="theme-subtitle">Ссылка на репозиторий</p>
        <a class="theme-text" href="https://github.com/TRiks2004/Relia-Queue">Relia-Queue</a>
    </div>