<div class="calc-area">
    <div class="skip-parts">
        <div class="skip-button">
            <p class="theme-title">ТЕОРИЯ</p>
            <span "theme-text">
                
            </span>
        </div>
        <div class="skip-button">
            <p class="theme-title">ВВОД ПАРАМЕТРОВ</p>
        </div>
        <div class="skip-button">
            <p class="theme-title">РЕШЕНИЕ</p>
        </div>
    </div>
    <div class="work-area">
        <p class="theme-title">Теория</p>
        <div class="theory">
        </div>
        <p class="theme-title">Ввод параметров</p>
        <div class="input-form">
            <div class="input-column">
                <p class="form-text">Интенсивность пуассоновского потока</p>
                <input class="form-input" type="number">
            </div>
            <div class="input-column">
                <p class="form-text">Время обслуживания</p>
                <input class="form-input" type="number">
            </div>
            <div class="input-column">
                <p class="form-text">Продолжительность симуляции</p>
                <input class="form-input" type="number">
            </div>
            <div class="input-column">
                <p class="form-text">Количество каналов обслуживания</p>
                <input class="form-input" type="number">
            </div>
            <div class="input-column">
                <p class="form-text">Количество запусков симуляции</p>
                <input class="form-input" type="number">
            </div>
            <button class="solve-button">РЕШИТЬ</button>
        </div>
        <p class="theme-title">Решение</p>
        <div class="solve-area">

        </div>
    </div>
</div>