<div class="calc-area">
    <div class="skip-parts">
            <button class="skip-button" id="theoryBtn" onclick="goToTheory()">
                <p class="theme-title">ТЕОРИЯ</p>
            </button>
            <button class="skip-button" id="formBtn" onclick="goToForm()">
                <p class="theme-title">ВВОД ПАРАМЕТРОВ</p>
            </button>
            <button class="skip-button" id="resultBtn" onclick="goToResult()">
                <p class="theme-title">РЕШЕНИЕ</p>
            </button>
        </div>
    <div class="work-area">
        <p class="theme-subtitle">СМО с неограниченными очередями</p>
        <p class="theme-title" id="theoryTitle">Теория</p>
        <div class="theory">
            <span class="theme-text">
                Рассмотрим задачу. Имеется n-канальная СМО с неограниченной очередью. Поток заявок, поступающих в СМО, имеет интенсивность λ, а поток обслуживании — интенсивность μ. Необходимо найти предельные вероятности состояний СМО и показатели ее эффективности.
                Система может находиться в одном из состояний S0, S1, S2,…, Sk,…, Sn,…, — нумеруемых по числу заявок, находящихся в СМО: S0 — в системе нет заявок (все каналы свободны); S1 — занят один канал, остальные свободны; S2 — заняты два канала, остальные свободны;..., Sk — занято k каналов, остальные свободны;..., Sn — заняты все n каналов (очереди нет); Sn+1 — заняты все n каналов, в очереди одна заявка;..., Sn+r — заняты все n каналов, r заявок стоит в очереди,....
            </span>
            <span class="theme-text">
                Граф состояний системы показан ниже. Обратим внимание на то, что в отличие от предыдущей СМО, интенсивность потока обслуживаний (переводящего систему из одного состояния в другое справа налево) не остается постоянной, а по мере увеличения числа заявок в СМО от 0 до n увеличивается от величины m до nm, так как соответственно увеличивается число каналов обслуживания. При числе заявок в СМО большем, чем n, интенсивность потока обслуживании сохраняется равной nm.
            </span>
            <img src="https://www.semestr.ru/images/math/cmo/c1_image070.jpg">
            <span class="theme-text">
                Можно показать, что при r/n < 1 предельные вероятности существуют. Если r/n > 1, очередь растет до бесконечности. Используя формулы (16) и (17) для процесса гибели и размножения, можно получить следующие формулы для предельных вероятностей состояний n-канальной СМО с неограниченной очередью
            </span>
            <p class="theme-text"><span class="math display">$$p_{0} = \left(1 + \frac{p}{1!} + \frac{p^{2}}{2!} + ... + \frac{p^{n-1}}{n-1!} + \frac{p^{n}}{n! (n-p))}\right)$$</span></p>
            <p class="theme-text"><span class="math display">$$p_{1} = \frac{p}{1!}p_{0}, ..., p_{k} = \frac{p^{k}}{k!}p_{0}, ..., p_{n} = \frac{p^{n}}{n!}p_{0}$$</span></p>
            <p class="theme-text"><span class="math display">$$p_{n+1} = \frac{p^{n+1}}{n*n!}p_{0}, ..., p_{n+r} = \frac{p^{n+r}}{n^{r} * n! } p_{0}, ...$$</span></p>
            <span class="theme-text">
                Для n-канальной СМО с неограниченной очередью, используя прежние приемы, можно найти:
среднее число занятых каналов
            </span>
            <p class="theme-text"><span class="math display">$$\overline{k} = \frac{\lambda}{\mu} = p$$</span></p>
            <span class="theme-text">среднее число заявок в очереди</span>
            <p class="theme-text"><span class="math display">$$L_{сист.} = L_{оч.} + p$$</span></p>
            <span class="theme-text">
                среднее число заявок в системе
            </span>
            <span class="theme-text" style="align-self: center">
            <p class="theme-text"><span class="math display">$$L_{оч.} = \frac{p^{n+1} p_{0}}{n * n!(1-\frac{p}{n})^{2}}$$</span></p>
            </span>
            <span class="theme-text">
                Среднее время пребывания заявки в очереди и среднее время пребывания заявки в системе, как и ранее, находятся по формулам Литтла.
Замечание. Для СМО с неограниченной очередью при r < 1 любая заявка, пришедшая в систему, будет обслужена, т.е. вероятность отказа Pотк = 0, относительная пропускная способность Q=1, а абсолютная пропускная способность равна интенсивности входящего потока заявок, т.е. А=l.
            </span>
        </div>
        <p class="theme-title" id="formTitle">Ввод параметров</p>
        <div class="input-form">
            <div class="input-column">
                <p class="form-text">Время обслуживания заявки</p>
                <input class="form-input" id="serviceTimeInput" type="text" placeholder="Введите значение">
            </div>
            <div class="input-column">
                <p class="form-text">Максимальное время симуляции</p>
                <input class="form-input" id="maxSimulationTimeInput" type="text" placeholder="Введите значение">
            </div>
            <div class="input-column">
                <p class="form-text">Параметр расчета интервала между заявками</p>
                <input class="form-input" id="parameterInput" type="text" placeholder="Введите значение">
            </div>
            <div class="input-column">
                <p class="form-text">Количество потоков</p>
                <input class="form-input" id="channelCountInput" type="text" placeholder="Введите значение">
            </div>
            <div class="input-column">
                <p class="form-text">Количество итераций</p>
                <input class="form-input" id="iterationCountInput" type="text" placeholder="Введите значение">
            </div>
            <button class="solve-button" onclick="unlimitedSolve()">РЕШИТЬ</button>
        </div>
        <p class="theme-title" id="resultTitle">Решение</p>
        <div class="solve-area">

        </div>
    </div>
</div>