<div class="work-area">
        <p class="theme-title">Теория</p>
        <div class="theory">
        </div>
        <p class="theme-title">Ввод параметров</p>
        <div class="input-form">
            <p class="form-text">Интенсивность пуассоновского потока</p>
            <input class="form-input" type="number">
            <p class="form-text">Время обслуживания</p>
            <input class="form-input" type="number">
            <p class="form-text">Продолжительность симуляции</p>
            <input class="form-input" type="number">
            <p class="form-text">Количество каналов обслуживания</p>
            <input class="form-input" type="number">
            <p class="form-text">Количество запусков симуляции</p>
            <input class="form-input" type="number">
        </div>
        <p class="theme-title">Решение</p>
        <div class="solve-area">

        </div>
    </div>