<div class="calc-area">
    <div class="skip-parts">
        <div class="skip-button">
            <p class="theme-text">ТЕОРИЯ</p>
        </div>
        <div class="skip-button">
            <p class="theme-text">ВВОД ПАРАМЕТРОВ</p>
        </div>
        <div class="skip-button">
            <p class="theme-text">РЕШЕНИЕ</p>
        </div>
    </div>
    <div class="work-area">
        <p class="theme-title">Теория</p>
        <div class="theory">
        </div>
        <p class="theme-title">Ввод параметров</p>
        <div class="input-form">
            <p class="form-text">Время обслуживания заявки</p>
            <input class="form-input" type="number">
            <p class="form-text">Максимальное время симуляции</p>
            <input class="form-input" type="number">
            <p class="form-text">Интервал между заявками</p>
            <input class="form-input" type="number">
            <p class="form-text">Количество потоков</p>
            <input class="form-input" type="number">
            <p class="form-text">Количество итераций</p>
            <input class="form-input" type="number">
            <button class="solve-button">РЕШИТЬ</button>
        </div>
        <p class="theme-title">Решение</p>
        <div class="solve-area">

        </div>
    </div>
</div>