<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resurse\static\style\layout.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="app-name">
            <img src="resurse\assets\logo.svg">
            <p>Relia-Queue</p>
        </div>
        <div class="button-container">
            <div class="header-button">
                <p>ЗАДАЧИ</p>
            </div>
            <div class="header-button">
                <p>О НАС</p>
            </div>
        </div>
    </div>
</body>
</html>