
<div class="header">
    <div class="app-name">
        <img src="static\assets\logo.svg">
        <a class="theme-subtitle" href="/">Relia-Queue</a>
    </div>
    <div class="button-container">
        <div class="header-button">
            <p>ЗАДАЧИ</p>
            <div class="dropdown">
                <div class="header-button">
                    <a href="/cfr-unlimited">МСМО с неограниченной очередью</a>
                </div>
                <div class="header-button">
                    <a href="/cfr-refusal">МСМО с отказами</a>
                </div>
                <div class="header-button">
                    <a href="/block-system">Оценка надежности системы</a>
                </div>
            </div>
        </div>
        <div id="about_btn" class="header-button">
            <a href="/about">О НАС</a>
        </div>
    </div>
</div>
