
<div class="header">
    <div class="app-name">
        <img src="static\assets\logo.svg">
        <p>Relia-Queue</p>
    </div>
    <div class="button-container">
        <div class="header-button">
            <p>ЗАДАЧИ</p>
        </div>
        <div class="header-button">
            <p>О НАС</p>
        </div>
    </div>
</div>
