<div class="work-area">
        <p class="theme-title">Теория СМО</p>
        <span class="theme-text">
            Системы массового обслуживания (СМО) - это математические модели, которые используются для анализа и оптимизации процессов, где имеются потоки требований (заявок, клиентов, задач и т.д.) и ресурсы для их обслуживания.
        </span>
        <span class="theme-text">
            Предметом теории массового обслуживания является установление зависимости между основными характеристиками системы обслуживания (число каналов обслуживания, характер входного потока заявок, которые необходимо обслужить, производительность отдельно взятого канала, пр.) с целью улучшения управления системами.
        </span>
        <img src="https://sun9-79.userapi.com/impg/6TQkzipIPDZgOCm7eraVVkpz--ijt8d8QtUsOA/oeHDqqtxNoc.jpg?size=1024x438&quality=96&sign=fb3c7360fea8aa635ca8e696b0baa419&type=album" alt="Formula">
        <p class="theme-subtitle">Перейти к решению задач</p>
        <div class="choice-container">
            <div class="choice-column">
                <div class="choice-button">
                    <a class="theme-text" href="/cfr-unlimited">Многоканальные СМО с неограниченной очередью</a>
                </div>
                <img src="https://sun9-51.userapi.com/impg/Koy-Cp9ah5o9yr2LuLhhinLm9oU7UACLh29awA/Ran6lUijdaE.jpg?size=492x162&quality=96&sign=1b3fc1a0507c40c5185f1a5545b88abb&type=album alt="Formula">
            </div>
            <div class="choice-column">
                <div class="choice-button">
                    <a class="theme-text" href="/cfr-refusal">Многоканальные СМО с отказами</a>
                </div>
                <img src="https://sun9-4.userapi.com/impg/gmo5RHlgXI0J_b3AQOIBIAVgohAxBwaX3ZdjuQ/VUA5a3GyUaU.jpg?size=494x140&quality=96&sign=23dae828308155fad9b0aea469cdca2c&type=album" alt="Formula">
            </div>
        </div>
        <p class="theme-title">Метод Монте-Карло</p>
        <span class="theme-text">
            Метод Монте-Карло - это статистический метод, который используется для имитационного моделирования случайных процессов и оценки характеристик сложных систем. В контексте оценки надежности систем, метод Монте-Карло применяется следующим образом:
        </span>
        <span class="theme-text">
            <ul>
                <li>Моделирование отказов элементов</li>
                <li>Моделирование работы системы</li>
                <li>Оценка надежности</li>
                <li>Оценка погрешности</li>
            </ul>
        </span>
        <p class="theme-subtitle">Перейти к решению задач</p>
        <div class="choice-container">
            <div class="choice-column">
                <div class="choice-button">
                    <a href="/block-system" class="theme-text">Оценка надежности системы методом Монте-Карло</a>
                </div>
            </div>
        </div>
    </div>