<div class="skip-parts">
    <button class="skip-button" id="theoryBtn" onclick="goToTheory()">-- ТЕОРИЯ --</button>
    <button class="skip-button" id="formBtn" onclick="goToForm()">-- ВВОД ПАРАМЕТРОВ --</button>
    <button class="skip-button" id="resultBtn" onclick="goToResult()">-- РЕШЕНИЕ --</button>
</div>