body{
    font-family: 'Ubuntu Sans', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    background-color: #394857;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown {
    display: none;
    width: 190px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(3, 23, 44, 0.95);
}

.dropdown a{
    padding: 5px;
    font-size: 16px;
}

.header-button:hover .dropdown {
    display: block;
}

.app-name{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: center;
    justify-content: center;
    margin-left: 5dvw;
    cursor: pointer;
}

.app-name img{
    width: 50px;
}

.app-name:hover{
    transform: scale(1.05);
}

.app-name:active{
    opacity: 0.5;
}

.app-name p {
    font-size: 35px;
}

.app-name a {
    text-decoration: none;
    color: #FFFFFF;
}

.button-container{
    display: flex;
    position: absolute;
    left: 50%;
    flex-direction: row;
}

.header-button{
    font-size: 18px;
    width: 190px;
    height: 80px;
    cursor: pointer;
    align-content: center;
    text-align: center;
    transition: 0.5s;
}

.header-button:hover{
    background-color: rgba(180, 191, 202, 0.75);
}

.header-button:active{
    background-color: rgba(180, 191, 202, 0.5);
}

.footer{
    display: flex;
    position: fixed;
    flex-direction: row;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #394857;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 40px;
}

.work-area{
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #03172C;
    width: 70%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.work-area a{
    text-decoration: none;
}

.theme-title{
    font-size: 4dvi;
}

.theme-subtitle{
    font-size: 3dvi;
    justify-self: center;
    align-self: center;
}

.theme-text{
    font-size: 20px;
}

.theme-text li{
    list-style-type:square;
}

.work-area img{
    width: 450px;
    margin-top: 20px;
}

.choice-container{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.choice-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.choice-container img{
    width: 250px;
}

.choice-button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(3, 23, 44, 0.3);
    border-radius: 5px;
    width: 250px;
    height: 80px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.choice-button a{
    text-decoration: none;
    text-align: center;
    color: #03172C;
}

.choice-button:hover{
     background-color: rgba(180, 191, 202, 0.75);
}

.choice-button:active{
    background-color: rgba(180, 191, 202, 0.5);;
}

.authors-container{
    width: 100%;
    color:#FFFFFF;
    background-color: rgba(3, 23, 44, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    flex-direction: row;
    gap: 20px;
}

.author-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.author-card img{
    width: 120px;
    border-radius: 50%;
}

.calc-area{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skip-parts{
    display: flex;
    flex-direction: column;
    color:#FFFFFF;
    background-color: rgba(3, 23, 44, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height: 180px;
    width: 13dvw;
    top: 35%;
    position: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.skip-parts p{
    font-size: 2dvb;
}

.skip-button{
    width: 100%;
    cursor: pointer;
    height: 100%;
}

.skip-button:hover{
    background-color: rgba(180, 191, 202, 0.75);
}

.skip-button:active{
    background-color: rgba(180, 191, 202, 0.5);
}

.solve-button{
    margin-top: 20px;
    background-color: rgba(97, 128, 163, 0.3);
    border-radius: 5px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
    color: #FFFFFF;
    border: none;
    font-size: 15px;
}

.solve-button:hover{
    background-color: rgba(180, 191, 202, 0.75);
}

.solve-button:active{
    background-color: rgba(180, 191, 202, 0.5);
}


.theory{
    border-color: #03172C 3px solid;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.theory img{
    align-self: center;
    width: 740px;
}

.input-form{
    width: 450px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: rgba(3, 23, 44, 0.75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.input-column{
    margin-left: 30px;
}

.form-text{
    color:#FFFFFF;
    font-size: 16px;
}

.form-input{
    color:#FFFFFF;
    font-size: 16px;
    background-color: transparent;
    width: 125px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.form-input::placeholder{
    text-align: start;
    padding-left: 5px;
    color: #FFFFFF;
    font-size: 12px;
}

.solve-button{
    align-self: center;
}

.block-system{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    width: 400px;
    height: 550px;
    border-radius: 10px;
    background-color: rgba(37, 52, 67, 0.75);
}

.element-system{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 15px;
    background-color: rgba(24, 36, 49, 0.75);
}

.element-form{
    width: 170px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.percent-button{
    width: 60px;
    height: 30px;
    font-weight: 700;
    font-size: 15px;
    background-color: rgba(97, 128, 163, 0.3);
    border: none;
    color:#FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.percent-button:hover{
    background-color: rgba(180, 191, 202, 0.75);
}

.percent-button:active{
    background-color: rgba(180, 191, 202, 0.5);
}

.select{
    width: 170px;
    height: 40px;
    font-size: 15px;
    background-color: rgba(97, 128, 163, 0.3);
    border: none;
    color:#FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.select:hover{
    background-color: rgba(180, 191, 202, 0.75);
}

.select:active{
    background-color: rgba(180, 191, 202, 0.5);
}

.select option{
    font-size: 15px;
    background-color: rgb(9, 25, 44);
    border: none;
    color:#FFFFFF;
    cursor: pointer;
}

.add-button{
    margin-top: 20px;
    width: 170px;
    height: 40px;
    background-color: rgba(97, 128, 163, 0.3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    color:#FFFFFF;
}

.add-button:hover{
    background-color: rgba(180, 191, 202, 0.75);
}

.add-button:active{
    background-color: rgba(180, 191, 202, 0.5);
}

.t-table{
    margin-top: 20px;
    width: 900px;
    overflow: scroll;
    color: rgb(14, 37, 64);
}

.t-table th{
    width: 80px;
    height: 40px;
}